head
    meta(charset="UTF-8")
    title Desenvolvimento de aplicações web com AngularJS
    meta(name="description" content="Minicurso Desenvolvimento de aplicações web com AngularJS.")
    meta(name="author" content="You")
    meta(property="og:type" content="website")
    meta(property="og:image" content="img/qualy-presenter.png")
    meta(property="og:description" content="Minicurso Desenvolvimento de aplicações web com AngularJS.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/main.css")
