section(data-transition="slide")
  section(data-transition="slide")
    h3 Exercício 2
    p Adicione ao exercício anterior uma lista com todos os seus projetos no Github
    p Pode utilizar a seguinte URL <a>https://api.github.com/users/arthurassuncao/repos</a>
    p Lembre de:
    ul
      li $http.get
      li service/factory
