section(data-transition="slide")
  section(data-transition="slide")
    h3 Quem utiliza?
  section(data-transition="slide")
    img(src="img/exemplos/the-guardian.png")
    p The Guardian
  section(data-transition="slide")
    img(src="img/exemplos/paypal.png")
    p Paypal
  section(data-transition="slide")
    img(src="img/exemplos/lego.jpeg")
    p Lego.com
  section(data-transition="slide")
    img(src="img/exemplos/weather.png")
    p Weather.com
  section(data-transition="slide")
    img(src="img/exemplos/youtube-ps3.jpeg")
    p Youtube para PS3
  section(data-transition="slide")
    img(src="img/exemplos/vevo.jpeg")
    p Vevo
  section(data-transition="slide")
    img(src="img/exemplos/istock-photo.png")
    p iStock Photo
