section(data-transition="slide")
  section(data-transition="slide")
    img(src="img/angularjs-sim.gif")
    p <strong>AngularJS</strong> é um <strong>framework</strong> para o desenvolvimento de <strong>aplicações web</strong> utilizando a linguagem <strong>JavaScript</strong>
  section(data-transition="slide")
    h3 O que é AngularJS?
    br
    ul
      li Criado e mantido pela Google
      li AngularJS é uma biblioteca, <strong>framework</strong>, plugin ou extensão para browser?
      li <strong>SPA (Single Page Application)</strong> Framework
      li MVW (Model View Whatever) Framework
      ul
        li Model - View - Controller
      li Como o browser faz o AngularJS funcionar?
      li AngularJS usa jQuery?
      li Usado no desenvolvimento <strong>Front-end</strong>
  section(data-transition="slide")
    img(src="img/desenho-tecnico-construcao-civil.jpg")
    p.text-black Estrutura a arquitetura da aplicação em <strong>camadas</strong> bem definidas
  section(data-transition="slide")
    img(src="img/lego-pecas.jpg")
    p.text-black Possibilita a criação de componentes <strong>reusáveis</strong> e <strong>modulares</strong>
  section(data-transition="slide")
    p AngularJS <strong>PODE</strong> ser um SPA
    img(src="img/angularjs-spa-structure.png")
  section(data-transition="slide")
    h3 AngularJS Features
    ul.left
      li Data Binding
      li MVC
      li Routing
      li Testing
      li jqLite
      li Templates
    ul.right
      li History
      li Factories
      li Views
      li Directives
      li Services
      li e mais
