section(data-transition="slide")
  section(data-transition="slide")
    h3 Exercício 4
    p Vamos usar rota?
    ul.font-small
      li Renomeie o <strong>index.html</strong> para <strong>repos.html</strong>
      li Crie a página <strong>seguidores.html</strong> com a foto do usuário ao lado esquerdo do nome (api: https://api.github.com/users/arthurassuncao/followers)
      li Adicione um OrderBy para ordenar a lista de seguidores
      li Crie a página <strong>index.html</strong> com dois links, uma para cada página
      li Use template para as <strong>directives</strong> (use <strong>templateUrl</strong>)
      li Precisa de um servidor para funcionar
      li <strong>python -m SimpleHTTPServer 8000</strong>
      li Deixe todo JS na página inicial (<strong>script.js</strong>)
