section(data-transition="slide")
  section(data-transition="slide")
    h3 Exercício 3
    p Adicionar a funcionalidade de filtro ao ng-repeat
    p Use o termo de busca do input criado no exercício 1
    p Recrie a lista com directive ou component
