section(data-transition="slide")
  section(data-transition="slide")
    h3 Exercício 5
    p Vamos usar angular-material?
    ul
      li Modifique o exercício 4 utilizando Material Design
      li Substitua as listas pelo componente &lt;md-list&gt;
      li Substitua os links por &lt;md-tabs&gt;
