section(data-transition="slide")
	section
		h2 @ArthurAssuncao
		#img(src="https://arthurassuncao.com/assets/img/me256x256.png", width="128px", height="128px")
		ul.fragment
			li Mestre em Ciência da Computação @ UFOP
			li Professor @ IF Sudeste MG - Santos Dumont
			li Já participei de Hackathons
			ul
				li GDG BH (Google Developer Group) 2015
				li Rede Globo 2016
		br
		br
		ul.fragment
			p: a(href="arthurassuncao.com") ArthurAssuncao.com
			p: a(href="arthur@arthurassuncao.com") arthur@arthurassuncao.com
			p: a(href="github.com/ArthurAssuncao") github.com/ArthurAssuncao
