section(data-transition="slide")
  section(data-transition="slide")
    h3 Exercício final
    img(src="img/ex-final/lista-tarefas.png").margin-sides-10
    img(src="img/ex-final/tarefa-criada.png").margin-sides-10
    p Monte o seguinte app de Tarefas
