section(data-background-color=cor_fundo_com_texto, data-transition="slide")
  section
    p E a ementa do minicurso?
  section(data-transition="fade-in")
    ul.font-small
      li Introdução
      li.fragment Gerenciadores de pacotes: NPM e Bower
      li.fragment Data Bindings
      li.fragment Views e Controllers
      ul.frament
        li.fragment Criando Controllers
        li.fragment Criando Views
        li.fragment Separando a lógica de negócio da interface
        li.fragment Estruturas de repetição
        li.fragment Estruturas condicionais
      li.fragment Filtros e ordenação
      li.fragment Modules, Routes, Factories e Services
      li.fragment Directivas customizadas
      li.fragment Consumindo API RESTful
      li.fragment Angular Material
      li.fragment <em>Progressive Web App</em>
      li.fragment Mão na Massa: criando uma aplicação de exemplo
