- var cor_fundo_com_texto = "#446971"
doctype html
html
    include inc/head
    body
        img(src="img/logo_ifsudeste.png").logo-left
        img(src="img/angularjs-icon.svg").logo-right
        .reveal
            .slides
                include ../slides/slide-logo
                include ../slides/slide-autor
                include ../slides/slide-pre-requisitos
                include ../slides/slide-ementa
                include ../slides/slide-intro
                include ../slides/slide-quem-usa
                include ../slides/slide-npm-bower

                include ../slides/slide-binding
                include ../slides/slide-view
                include ../slides/slide-model-controller
                include ../slides/slide-helloworld

                include ../slides/slide-exercicio-1
                include ../slides/slide-factory
                include ../slides/slide-http
                include ../slides/slide-exercicio-2
                include ../slides/slide-view-custom
                include ../slides/slide-exercicio-3
                include ../slides/slide-rota
                include ../slides/slide-exercicio-4

                include ../slides/slide-angular-material
                include ../slides/slide-exercicio-5

                include ../slides/slide-progressive-web-app
                include ../slides/slide-exercicio-final

                include ../slides/slide-obrigado
        include inc/scripts
